<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="./templates/{$skindir}nee3_main.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	</head>
	<body>
		<header id="header">
			<h1>{$btitle}</h1>
			<hr>
			<div>
				<section>
					<p class="top menu">
						<a href="{$home}"><i class="fas fa-home fa-fw fa-lg" title="ホーム"></i></a>
						{if $catalogmode == catalog}<a href="{$self}?mode=catalog"><i class="fas fa-sync fa-fw fa-lg" title="リロード"></i></a>{/if}
						<a href="{$self}?mode=piccom"><i class="fas fa-paste fa-fw fa-lg" title="投稿途中の絵"></i></a>
						<a href="{$self}?mode=admin_in"><i class="fas fa-cog fa-fw fa-lg" title="管理モードin"></i></a>
						<a href="{$self}"><i class="fas fa-list fa-fw fa-lg" title="標準モード"></i></a>
						<a href="#footer"><i class="fas fa-arrow-down fa-fw fa-lg" title="一番下へ"></i></a>
					</p>
				</section>
				<section>
					<p class="sysmsg">{$message}</p>
				</section>
			</div>
			<hr>
			<div>
				<section class="epost">
					<form action="{$self}" method="post" enctype="multipart/form-data">
						<p>
							<label>幅：<input class="form" type="text" name="picw" value="{$pdefw}"></label>
							<label>高さ：<input class="form" type="text" name="pich" value="{$pdefh}"></label>
							<input type="hidden" name="mode" value="paint">
							<input class="button" type="submit" value="お絵かき">
							{if $useanime == 1}<br><label><input type="checkbox" value="true" name="anime" title="動画記録"{if $defanime == 1} checked{/if}>アニメーション記録</label>{/if}
							<label><input type="checkbox" value="true" name="useneo" title="NEOを使う" checked>USE NEO</label>
						</p>
					</form>
					<ul>
						<li>iPadやスマートフォンでも描けるお絵かき掲示板です。</li>
						<li>お絵かきできるサイズは幅300～{$pmaxw}、高さ300～{$pmaxh}です。</li>
						<li>USE NEOのチェックを外すとしぃペインターが起動します。</li>
						{$addinfo}
					</ul>
				</section>
				<hr>
				{if $catalogmode == catalog}<p>CATALOG MODE</p>{/if}
				{if $catalogmode == search}<p>SEARCH MODE -「{$author}」の作品 - {$s_result}件</p>{/if}
				{if $catalogmode == hashsearch}<p>SEARCH -「{$tag}」- {$s_result}件</p>{/if}
				<hr>
				<p>作者名/本文(ハッシュタグ)検索</p>
				<form class="search" method="GET" action="{$self}">
					<input type="hidden" name="mode" value="search">
					<label><input type="radio" name="bubun" value="bubun">部分一致</label>
					<label><input type="radio" name="bubun" value="kanzen">完全一致</label>
					<label><input type="radio" name="tag" value="tag">本文(ハッシュタグ)</label>
					<br>
					<input type="text" name="search" placeholder="検索" size="20">
					<input type="submit" value=" 検索 ">
				</form>
				<hr>
				<section class="delf">
					<form action="{$self}" method="post">
						<p>
							<select name="delt">
								<option value="0">親</option>
							</select>
							No <input class="form" type="number" min="1" name="delno" value="" autocomplete="off">
							Pass <input class="form" type="password" name="pwd" value="" autocomplete="current-password">
							<select class="form" name="mode">
								<option value="edit">編集</option>
								<option value="del">削除</option>
							</select>
							<input class="button" type="submit" value=" OK ">
						</p>
					</form>
				</section>
				{if $catalogmode == catalog}
				<hr>
				<section class="paging">
					<p>
						{if $back == 0}
						<span class="se">START</span>
						{else}
						<span class="button"><a href="{$self}?mode=catalog&amp;page={$back}">BACK</a></span> 
						{/if}
						{foreach from=$paging item=pp}
						{if $pp.p == $nowpage}<em class="thispage">{else}<a href="{$self}?mode=catalog&amp;page={$pp.p}">[{/if}{$pp.p}{if $pp.p == $nowpage}</em>{else}]</a>{/if}
						{/foreach}
						{if $next == ($max_page + 1)}
						<span class="se">END</span>
						{else}
						<span class="button"><a href="{$self}?mode=catalog&amp;page={$next}">NEXT</a></span> 
						{/if}
					</p>
				</section>
				{/if}
			</div>
			<hr>
		</header>
		<main>
			<div id="catalog">
				{if isset($oya)}{foreach from=$oya item=bbsline}
				<div>
                    <div>
                        {if $bbsline.picfile == true}
                        <p>
                            <a href="{$self}?mode=res&amp;res={$bbsline.tid}" title="{$bbsline.sub} (by {$bbsline.name})"><img src="{$path}{$bbsline.picfile}" alt="{$bbsline.sub} (by {$bbsline.name})"></a>
                        </p>
                        {else}
                        <p>
                            <a href="{$self}?mode=res&amp;res={$bbsline.tid}" title="{$bbsline.sub} (by {$bbsline.name})">{$bbsline.sub} (by {$bbsline.name})</a>
                        </p>
                        {/if}
                        <p>
                            [{$bbsline.tid}]
                        </p>
                    </div>
				</div>
				{/foreach}{/if}
				{if $catalogmode == hashsearch}{if isset($ko)}{foreach from=$ko item=res}
				<div>
                    <div>
                        {if $res.picfile == true}
                        <p>
                            <a href="{$self}?mode=res&amp;res={$res.tid}" title="{$res.sub} (by {$res.name})"><img src="{$path}{$res.picfile}" alt="{$res.sub} (by {$res.name})"></a>
                        </p>
                        {else}
                        <p>
                            <a href="{$self}?mode=res&amp;res={$res.tid}" title="{$res.sub} (by {$res.name})">{$res.com|strip_tags|truncate:30} </a>
                        </p>
                        {/if}
                        <p>
                            [{$res.tid}]({$res.iid})
                        </p>
                    </div>
				</div>
				{/foreach}{/if}{/if}
			</div>
			<script src="loadcookie.js"></script>
			<script>
				l(); //LoadCookie
			</script>
		</main>
		<footer id="footer">
			<div class="copy">
				<!-- 著作権表示 -->
				<p>
					<a href="https://sakots.red/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://sakots.red/" target="_top" title="nee3 {$tver} (by 赤原文庫)">nee3</a>
				</p>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>
