<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="./templates/{$skindir}nee3_main.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	</head>
	<body>
		<header id="header">
			<h1>{$btitle}</h1>
			<hr>
			<div>
				<section>
					<p class="top menu">
						<a href="{$home}"><i class="fas fa-home fa-fw fa-lg" title="ホーム"></i></a>
						<a href="{$self}"><i class="fas fa-sync fa-fw fa-lg" title="リロード"></i></a>
						<a href="{$self}?mode=piccom"><i class="fas fa-paste fa-fw fa-lg" title="投稿途中の絵"></i></a>
						<a href="{$self}?mode=admin_in"><i class="fas fa-cog fa-fw fa-lg" title="管理モードin"></i></a>
						<a href="{$self}?mode=catalog"><i class="fas fa-table fa-fw fa-lg" title="カタログ"></i></a>
						<a href="#footer"><i class="fas fa-arrow-down fa-fw fa-lg" title="一番下へ"></i></a>
					</p>
				</section>
				<section>
					<p class="sysmsg">{$message}</p>
				</section>
			</div>
			<hr>
			<div>
				<section class="epost">
					<form action="{$self}" method="post" enctype="multipart/form-data">
						<p>
							<label>幅：<input class="form" type="text" name="picw" value="{$pdefw}"></label>
							<label>高さ：<input class="form" type="text" name="pich" value="{$pdefh}"></label>
							<input type="hidden" name="mode" value="paint">
							<input class="button" type="submit" value="お絵かき">
							{if $useanime == 1}<br><label><input type="checkbox" value="true" name="anime" title="動画記録"{if $defanime == 1} checked{/if}>アニメーション記録</label>{/if}
							<label><input type="checkbox" value="true" name="useneo" title="NEOを使う" checked>USE NEO</label>
						</p>
					</form>
					<ul>
						<li>iPadやスマートフォンでも描けるお絵かき掲示板です。</li>
						<li>お絵かきできるサイズは幅300～{$pmaxw}、高さ300～{$pmaxh}です。</li>
						<li>USE NEOのチェックを外すとしぃペインターが起動します。</li>
						{$addinfo}
					</ul>
				</section>
				<hr>
				<section class="delf">
					<form action="{$self}" method="post">
						<p>
							<select name="delt">
								<option value="1">レス</option>
								<option value="0">親</option>
							</select>
							No <input class="form" type="number" min="1" name="delno" value="" autocomplete="off">
							Pass <input class="form" type="password" name="pwd" value="" autocomplete="current-password">
							<select class="form" name="mode">
								<option value="edit">編集</option>
								<option value="del">削除</option>
							</select>
							<input class="button" type="submit" value=" OK ">
						</p>
					</form>
				</section>
				<hr>
				<p>作者名/本文(ハッシュタグ)検索</p>
				<form class="search" method="GET" action="{$self}">
					<input type="hidden" name="mode" value="search">
					<label><input type="radio" name="bubun" value="bubun">部分一致</label>
					<label><input type="radio" name="bubun" value="kanzen">完全一致</label>
					<label><input type="radio" name="tag" value="tag">本文(ハッシュタグ)</label>
					<br>
					<input type="text" name="search" placeholder="検索" size="20">
					<input type="submit" value=" 検索 ">
				</form>
				<hr>
				<section class="paging">
					<p>
						{if $back == 0}
						<span class="se">START</span>
						{else}
						<span class="button"><a href="{$self}?page={$back}">BACK</a></span> 
						{/if}
						{foreach from=$paging item=pp}
						{if $pp.p == $nowpage}<em class="thispage">{else}<a href="{$self}?page={$pp.p}">[{/if}{$pp.p}{if $pp.p == $nowpage}</em>{else}]</a>{/if}
						{/foreach}
						{if $next == ($max_page + 1)}
						<span class="se">END</span>
						{else}
						<span class="button"><a href="{$self}?page={$next}">NEXT</a></span> 
						{/if}
					</p>
				</section>
			</div>
			<hr>
		</header>
		<main>
			<div>
				<hr>
				{if isset($oya)}{foreach from=$oya item=bbsline}
				<section class="thread">
					<h3><span class="oyano">{$bbsline.tid}</span>{$bbsline.sub}</h3>
					<section>
						<h4 id="oya">
							<span class="oyaname"><a href="{$self}?mode=search&bubun=kanzen&search={$bbsline.name}">{$bbsline.name}</a></span>
							{if $bbsline.modified == $bbsline.created }{$bbsline.modified|date_format:"%y/%m/%d (%a) %H:%M"}{else}{$bbsline.created|date_format:"%y/%m/%d (%a) %H:%M"} {$updatemark} {$bbsline.modified|date_format:"%y/%m/%d (%a) %H:%M"}{/if}
							{if $bbsline.mail == true }<span class="button"><a href="mailto:{$bbsline.mail}"><i class="fas fa-at"></i> mail</a></span>{/if}
							{if $bbsline.url == true} <span class="button"><a href="{$bbsline.url}" target="_blank" rel="nofollow noopener noreferrer"><i class="fas fa-flag-checkered"></i> URL</a></span>{/if}
							{if $dispid == 1}<span class="id">ID：{$bbsline.id}</span>{/if}
							<span class="sodane"><a href="{$self}?mode=sodane&amp;resto={$bbsline.tid}">そうだねx{$bbsline.exid}</a></span>
						</h4>
						{if $bbsline.picfile == true}
						{if $dptime == 1}{if $bbsline.time != null}<h5>描画時間：{$bbsline.time}</h5>{/if}{/if}
						<figure>
							<figcaption><a href="{$path}{$bbsline.picfile}" target="_blank" data-title="{$bbsline.picfile}">{$bbsline.picfile}</a>
							{if $bbsline.pchfile != null}<a href="{$self}?mode=anime&amp;pch={$bbsline.pchfile}" target="_blank">●動画</a>{/if}
							{if $use_continue == 1} <a href="{$self}?mode=continue&amp;no={$bbsline.picfile}">●続きを描く</a>{/if}</figcaption>
							<a href="{$path}{$bbsline.picfile}" target="_blank"><img src="{$path}{$bbsline.picfile}" alt="{$bbsline.picfile}"></a>
						</figure>
						{/if}
						<p class="comment oya">{$bbsline.com}</p>
						{if ($m_tid - $bbsline.tid) > $thid }
						<div class="res">
							<p class="limit">このスレは古いのでもうすぐ消えます。</p>
						</div>
						{/if}
						{if $bbsline.rflag == true}
						<div class="res">
							<p class="limit">レス{$bbsline.res_d_su}件省略。すべて見るには返信ボタンを押してください。</p>
						</div>
						{/if}
						{if isset($ko)}{foreach from=$ko item=res}{if $bbsline.tid == $res.tid}{if $res.resno <= $bbsline.res_d_su}{else}
						<section class="res">
							<section>
								<h3><span class="oyano">{$res.iid}</span>{$res.sub}</h3>
								<h4>
									名前：<span class="resname">{$res.name}</span>：
									{if $res.modified == $res.created }{$res.modified|date_format:"%y/%m/%d (%a) %H:%M"}{else}{$res.created|date_format:"%y/%m/%d (%a) %H:%M"} {$updatemark} {$res.modified|date_format:"%y/%m/%d (%a) %H:%M"}{/if}
									{if $res.mail == true }<span class="button"><a href="mailto:{$res.mail}"><i class="fas fa-at"></i> mail</a></span>{/if}
									{if $res.url == true}<span class="button"><a href="{$res.url}" target="_blank" rel="nofollow noopener noreferrer"><i class="fas fa-flag-checkered"></i> URL</a></span>{/if}
									{if $dispid == 1}<span class="id">ID：{$res.id}</span>{/if}
									<span class="sodane"><a href="{$self}?mode=rsodane&amp;resto={$res.iid}">そうだねx{$res.exid}</a></span>
								</h4>
								<p class="comment">{$res.com}</p>
							</section>
						</section>
						{/if}{/if}{/foreach}{/if}
						<div class="thfoot">
							{if $share_button == 1}
							<script>
								(function(){ //byさとぴあさん
									var url = encodeURIComponent('{$base}{$self}?mode=res&amp;{$bbsline.tid}'); //ページURL
									var title = encodeURIComponent('[{$bbsline.tid}] {$bbsline.sub} by {$bbsline.name} - {$btitle}'); //ページタイトル
									document.write( '<span class="button"><a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=' + title + '&amp;url=' + url + '"><i class="fab fa-twitter fa-fw fa-lg"></i>tweet</a></span> <span class="button"><a target="_blank" class="fb btn" href="http://www.facebook.com/share.php?u=' + url + '"><i class="fab fa-facebook fa-fw fa-lg"></i>share</a></span>' );}
								)();
							</script>
							{/if}
							{if $elapsed_time == 0 || $nowtime - $bbsline.utime < $elapsed_time}
							<span class="button"><a href="{$self}?mode=res&amp;res={$bbsline.tid}"><i class="fas fa-reply-all"></i> 返信</a></span>
							{else}
							このスレは古いので返信できません…
							{/if}
						</div>
					</section>
				</section>
				<hr><hr>
				{/foreach}{/if}
			</div>
			<script src="loadcookie.js"></script>
			<script>
				l(); //LoadCookie
			</script>
		</main>
		<footer id="footer">
			<div class="copy">
				<!-- 著作権表示 -->
				<p>
					<a href="https://sakots.red/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://sakots.red/" target="_top" title="nee3 {$tver} (by 赤原文庫)">nee3</a>
				</p>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>
