<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="./templates/{$skindir}noee_main.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="neo.css" type="text/css">
		<script src="neo.js" charset="utf-8"></script>
	</head>
	<body id="paintmode">
		<header>
			<h1>{$btitle}</h1>
			<hr>
			<section>
				<p class="top menu">
					<a href="{$self}"><i class="fas fa-star fa-fw fa-lg" title="トップ"></i></a>
					<a href="{$home}" target="_top"><i class="fas fa-home fa-fw fa-lg" title="ホーム"></i></a>
				</p>
			</section>
			<hr>
			<h2 class="oekaki">PCH MODE</h2>
			<hr>
		</header>

		<main>
			<section id="appstage">
				<div class="app">
					<applet-dummy name="pch" code="pch.PCHViewer.class" archive="PCHViewer.jar,PaintBBS.jar" width="{$w}" height="{$h}" mayscript>
						<param name="image_width" value="{$picw}">
						<param name="image_height" value="{$pich}">
						<param name="pch_file" value="{$pchfile}">
						<param name="speed" value="{$speed}">
						<param name="buffer_progress" value="false">
						<param name="buffer_canvas" value="false">
					</applet-dummy>
				</div>
			</section>
			<section>
				<p>
					<a href="{$path}{$pchfile}" target="_blank">Download</a>
					{if isset($datasize)}- Datasize {$datasize} B{/if}
				</p>
			</section>
			<script>
				l(); //LoadCookie
			</script>
		</main>
		<footer id="footer">
			<div class="copy">
				<p>
					<a href="https://sakots.red/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://sakots.red/" target="_top" title="noee {$tver} (by 赤原文庫)">noee</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>
