<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title><% echo (btitle) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="<% echo (skindir) %>noe_main.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">

	</head>
	<body>
		<header id="header">
			<h1><% echo (btitle) %></h1>
			<hr>
			<div>
				<section>
					<p class="top menu">
						<a href="<% echo (home) %>"><i class="fas fa-home fa-fw fa-lg" title="ホーム"></i></a>
						<a href="<% echo (self) %>"><i class="fas fa-sync fa-fw fa-lg" title="リロード"></i></a>
						<a href="#footer"><i class="fas fa-arrow-down fa-fw fa-lg" title="一番下へ"></i></a>
					</p>
				</section>
				<section>
					<p class="sysmsg"><% echo (message) %></p>
				</section>
			</div>
			<hr>
			<div>
				<section class="epost">
					<form action="paint.php" method="post">
						<p>
							<label>幅：<input class="form" type="text" name="picw" value="<% echo(pdefw) %>"></label>
							<label>高さ：<input class="form" type="text" name="pich" value="<% echo(pdefh) %>"></label>
							<% if(useanime,==,1) %><input type="checkbox" value="true" name="anime" title="動画記録"<% if(defanime,==,1) %> checked<% /if %>><% /if %>
							<input type="hidden" name="mode" value="paint">
							<input class="button" type="submit" value="お絵かき">
						</p>
					</form>
				</section>
				<hr>
				<section class="delf">
					<form action="noedel.php" method="post">
						<p>
							<select name="delt">
								<option value="1">レス</option>
								<option value="0">親</option>
							</select>
							No <input class="form" type="text" name="delno" value="" autocomplete="section-no">
							Pass <input class="form" type="password" name="pwd" value="" autocomplete="new-password">
							<input class="button" type="submit" value=" 削除 ">
						</p>
					</form>
				</section>
				<hr>
				<section class="paging">
					<p>
						<% def(back) %>
						<span class="button"><a href="<% echo (self) %>?page=<% echo (back) %>">BACK</a></span> 
						<% elsedef %>
						<span class="se">START</span>
						<% /def %>
						<% each(paging) %>
						<% ifs(paging/p,==,nowpage) %><em class="thispage"><% else %><a href="<% echo (self) %>?page=<% echo (paging/p) %>">[<% /ifs %><% echo (paging/p) %><% ifs(paging/p,==,nowpage) %></em><% else %>]</a><% /ifs %>
						<% /each %>
						<% def(next) %>
						<span class="button"><a href="<% echo (self) %>?page=<% echo (next) %>">NEXT</a></span> 
						<% elsedef %>
						<span class="se">END</span>
						<% /def %>
					</p>
				</section>
			</div>
			<hr>
		</header>
		<main>
			<div>
				<hr>
				<% each(bbsline) %><% def(bbsline/com) %>
				<section class="thread">
					<h3><span class="oyano"><% echo(bbsline/tid) %></span><% echo(bbsline/sub) %></h3>
					<section>
						<h4>名前：<% echo(bbsline/name) %>：<% echo(bbsline/modified) %><% def(bbsline/url) %> <span class="button"><a href="<% echo(bbsline/url) %>" target="_blank" rel="nofollow noopener noreferrer"><i class="fas fa-flag-checkered"></i> URL</a></span><% /def %></h4>
						<% def(bbsline/picfile) %>
						<figure>
							<figcaption><a href="<% echo(path) %><% echo(bbsline/picfile) %>" target="_blank" data-lightbox="a<% echo(bbsline/picfile) %>" data-title="<% echo(bbsline/picfile) %>"><% echo(bbsline/picfile) %></a><% def(bbsline/pchfile) %>｜●<a href="anime.php?pch=<% echo(bbsline/pchfile) %>&amp;img_w=<% echo(bbsline/img_w) %>&amp;img_h=<% echo(bbsline/img_h) %>">動画再生</a><% /def %></figcaption>
							<a href="<% echo(path) %><% echo(bbsline/picfile) %>" target="_blank"data-lightbox="b<% echo(bbsline/picfile) %>" data-title="<% echo(bbsline/picfile) %>"><img src="<% echo(path) %><% echo(bbsline/picfile) %>" alt="<% echo(bbsline/picfile) %>"></a>
						</figure>
						<% /def %>
						<p class="comment"><% plugin('URLlink',bbsline/com) %></p>
						<% each(ko) %><% def(ko/com) %><% ifs(bbsline/tid,==,ko/tid) %>
						<section class="res">
							<section>
								<h3><span class="oyano"><% echo(ko/iid) %></span><% echo(ko/sub) %></h3>
								<h4>名前：<% echo(ko/name) %>：<% echo(ko/modified) %><% def(ko/url) %><span class="button"><a href="<% echo(ko/url) %>" target="_blank" rel="nofollow noopener noreferrer"><i class="fas fa-flag-checkered"></i> URL</a></span><% /def %></h4>
								<% def(ko/picfile) %>
								<figure>
									<figcaption><a href="<% echo(path) %><% echo(ko/picfile) %>" target="_blank" data-lightbox="a<% echo(ko/picfile) %>" data-title="<% echo(ko/picfile) %>"><% echo(ko/picfile) %></a><% def(ko/pchfile) %>｜●<a href="anime.php?pch=<% echo(ko/pchfile) %>&amp;img_w=<% echo(ko/img_w) %>&amp;img_h=<% echo(ko/img_h) %>">動画再生</a><% /def %></figcaption>
									<a href="<% echo(path) %><% echo(ko/picfile) %>" target="_blank"data-lightbox="b<% echo(ko/picfile) %>" data-title="<% echo	(ko/picfile) %>"><img src="<% echo(path) %><% echo(ko/picfile) %>" alt="<% echo	(ko/picfile) %>"></a>
								</figure>
								<% /def %>
								<p class="comment"><% plugin('URLlink',ko/com) %></p>
							</section>
						</section>
						<% /ifs %><% /def %><% /each %>
						<div class="thfoot"><span class="button"><a href="noeres.php?res=<% echo (bbsline/tid) %>"><i class="fas fa-reply-all"></i> 返信</a></span></div>
					</section>
				</section>
				<hr><hr>
				<% /def %><% /each %>
			</div>
		</main>
		<footer id="footer">
			<div class="copy">
				<p>
					<a href="https://sakots.red/" target="_top">noe-board <% echo (ver) %></a>
					Web Style by <a href="https://sakots.red/" target="_top" title="noedef <% echo(tver) %> (by 赤原文庫)">noedef</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					<a href="http://skinny.sx68.net/">skinny</a>
				</p>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
	</body>
</html>
