<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./templates/{$skindir}mono_main.css" type="text/css">
	</head>
	<body>
		<header id="header">
			<h1>{$btitle}</h1>
			<hr>
			<div>
				<section>
					<p class="top menu">
						<a href="{$home}">[ホーム]</a>
						<a href="{$self}">[通常モード]</a>
						<a href="#footer">[↓]</i></a>
					</p>
				</section>
				<section>
					<p class="sysmsg">{$message}</p>
				</section>
			</div>
			<div>
				<section class="epost">
					<p>ADMIN MODE</p>
				</section>
				<hr>
				<section class="delf">
					<form action="{$self}?mode=del" method="post">
						<p>
							<select name="delt">
								<option value="1">レス</option>
								<option value="0">親</option>
							</select>
							No <input class="form" type="text" name="delno" value="" autocomplete="section-no">
							Pass <input class="form" type="password" name="pwd" value="" autocomplete="new-password">
							<input class="button" type="submit" value=" 削除 ">
							<input type="hidden" name="admindel" value="admindel">
						</p>
					</form>
				</section>
			</div>
			<hr>
		</header>
		<main>
			<div>
				<section class="thread">
					<table>
						<tr>
							<th>ID</th>
							<th>name</th>
							<th>date</th>
							<th>sub</th>
							<th>pic</th>
							<th>com</th>
							<th>host</th>
							<th>invz</th>
						</tr>
						{if isset($oya)}{foreach from=$oya item=bbsline}
						<tr>
							<td>{$bbsline.tid}</td>
							<td>{$bbsline.name}</td>
							<td>{$bbsline.modified}</td>
							<td>{$bbsline.sub|truncate:6}</td>
							<td>{if $bbsline.picfile == true}<a href="{$path}{$bbsline.picfile}" target="_brank">{$bbsline.picfile}</a>{/if}</td>
							<td>{$bbsline.com|strip_tags|truncate:10}</td>
							<td>{$bbsline.host}</td>
							<td>{if $bbsline.invz == 1}invz{/if}</td>
						</tr>
						{if isset($ko)}{foreach from=$ko item=res}{if $bbsline.tid == $res.tid}
						<tr>
							<td>└{$res.iid}</td>
							<td>{$res.name}</td>
							<td>{$res.modified}</td>
							<td>{$res.sub|truncate:6}</td>
							<td>{$res.picfile}</td>
							<td>{$res.com|strip_tags|truncate:10}</td>
							<td>{$res.host}</td>
							<td>{if $res.invz == 1}invz{/if}</td>
						</tr>
						{/if}{/foreach}{/if}
						{/foreach}{/if}
					</table>
				</section>
			</div>
			<script src="loadcookie.js"></script>
			<script>
				l(); //LoadCookie
			</script>
			<div class="thread">
				<section class="delf">
					<form action="{$self}?mode=del" method="post">
						<p>
							<select name="delt">
								<option value="1">レス</option>
								<option value="0">親</option>
							</select>
							No <input class="form" type="text" name="delno" value="" autocomplete="section-no">
							Pass <input class="form" type="password" name="pwd" value="" autocomplete="new-password">
							<input class="button" type="submit" value=" 削除 ">
							<input type="hidden" name="admindel" value="admindel">
						</p>
					</form>
				</section>
			</div>
		</main>
		<footer id="footer">
			<div class="copy">
				<!-- 著作権表示 -->
				<p>
					<a href="https://sakots.red/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://sakots.red/" target="_top" title="MONO {$tver} (by 赤原文庫)">MONO</a>
				</p>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>
