<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./templates/{$skindir}mono_main.css" type="text/css">
	</head>
	<body>
		<header id="header">
			<h1>{$btitle}</h1>
			<hr>
			<div>
				<section>
					<p class="top menu">
						<a href="{$home}">[ホーム]</a>
						{if $catalogmode == catalog}<a href="{$self}?mode=catalog"">[リロード]</a>{/if}
						<a href="{$self}?mode=piccom">[投稿途中の絵]</i></a>
						<a href="{$self}?mode=admin_in">[管理モード]</i></a>
						<a href="{$self}">[通常モード]</i></a>
						<a href="#footer">[↓]</i></a>
					</p>
				</section>
				<section>
					<p class="sysmsg">{$message}</p>
				</section>
			</div>
			<div>
				<section class="epost">
					<form action="{$self}" method="post" enctype="multipart/form-data">
						<p>
							<label>幅：<input class="form" type="text" name="picw" value="{$pdefw}"></label>
							<label>高さ：<input class="form" type="text" name="pich" value="{$pdefh}"></label>
							<input type="hidden" name="mode" value="paint">
							<input class="button" type="submit" value="お絵かき">
							{if $useanime == 1}<label><input type="checkbox" value="true" name="anime" title="動画記録"{if $defanime == 1} checked{/if}>アニメーション記録</label>{/if}
							<label><input type="checkbox" value="true" name="useneo" title="NEOを使う" checked>NEOを使う</label>
						</p>
					</form>
					<ul>
						<li>iPadやスマートフォンでも描けるお絵かき掲示板です。</li>
						<li>お絵かきできるサイズは幅300～{$pmaxw}、高さ300～{$pmaxh}です。</li>
						<li>NEOを使うのチェックを外すとしぃペインターが起動します。</li>
						{$addinfo}
					</ul>
                </section>
				<hr>
				{if $catalogmode == catalog}<p>カタログモード</p>{/if}
				{if $catalogmode == search}<p>検索モード -「{$author}」の作品 - {$s_result}件</p>{/if}
				{if $catalogmode == hashsearch}<p>ハッシュタグ検索 -「{$tag}」- {$s_result}件</p>{/if}
				{if $catalogmode == catalog}
				<hr>
				<section class="paging">
					<p>
						{if $back == 0}
						<span class="se">[START]</span>
						{else}
						<span class="se">&lt;&lt;<a href="{$self}?mode=catalog&amp;page={$back}">[BACK]</a></span> 
						{/if}
						{foreach from=$paging item=pp}
						{if $pp.p == $nowpage}<em class="thispage">{else}<a href="{$self}?mode=catalog&amp;page={$pp.p}">{/if}[{$pp.p}]{if $pp.p == $nowpage}</em>{else}</a>{/if}
						{/foreach}
						{if $next == ($max_page + 1)}
						<span class="se">[END]</span>
						{else}
						<span class="se"><a href="{$self}?mode=catalog&amp;page={$next}">[NEXT]</a>&gt;&gt;</span> 
						{/if}
					</p>
				</section>
				{/if}
			</div>
		</header>
		<main>
			<div class="thread" id="catalog">
				{if isset($oya)}{foreach from=$oya item=bbsline}
				<div>
                    <div>
                        {if $bbsline.picfile == true}
                        <p>
                            <a href="{$self}?mode=res&amp;res={$bbsline.tid}" title="{$bbsline.sub} (by {$bbsline.name})"><img src="{$path}{$bbsline.picfile}" alt="{$bbsline.sub} (by {$bbsline.name})"></a>
                        </p>
                        {else}
                        <p>
                            <a href="{$self}?mode=res&amp;res={$bbsline.tid}" title="{$bbsline.sub} (by {$bbsline.name})">{$bbsline.sub} (by {$bbsline.name})</a>
                        </p>
                        {/if}
                        <p>
                            [{$bbsline.tid}]
                        </p>
                    </div>
				</div>
                {/foreach}{/if}
			</div>
			<div>
				<section class="thread">
					{if $catalogmode == catalog}
					<section class="paging">
						<p>
							{if $back == 0}
							<span class="se">[START]</span>
							{else}
							<span class="se">&lt;&lt;<a href="{$self}?mode=catalog&amp;page={$back}">[BACK]</a></span> 
							{/if}
							{foreach from=$paging item=pp}
							{if $pp.p == $nowpage}<em class="thispage">{else}<a href="{$self}?mode=catalog&amp;page={$pp.p}">{/if}[{$pp.p}]{if $pp.p == $nowpage}</em>{else}</a>{/if}
							{/foreach}
							{if $next == ($max_page + 1)}
							<span class="se">[END]</span>
							{else}
							<span class="se"><a href="{$self}?mode=catalog&amp;page={$next}">[NEXT]</a>&gt;&gt;</span> 
							{/if}
						</p>
					</section>
					<hr>
					{/if}
					<p>作者名検索</p>
					<form class="search" method="GET" action="{$self}">
						<input type="hidden" name="mode" value="search">
						<label><input type="radio" name="bubun" value="bubun">部分一致</label>
						<label><input type="radio" name="bubun" value="kanzen">完全一致</label>
						<br>
						{if $catalogmode == search}
						<input type="text" name="author" placeholder="検索" value="{$author}" size="24">
						<input type="submit" value=" 検索 ">
						{else}
						<input type="text" name="author" placeholder="検索" size="20">
						<input type="submit" value=" 検索 ">
						{/if}
					</form>
					<p>本文検索(親記事のみ)</p>
					<form class="hashsearch" method="GET" action="{$self}">
						<input type="hidden" name="mode" value="hashsearch">
						<input type="text" name="tag" placeholder="#ハッシュタグ" size="20">
						<input type="submit" value=" 検索 ">
					</form>
					<form class="delf" action="{$self}" method="post">
						<p>
							<select name="delt">
								<option value="0">親</option>
							</select>
							No <input class="form" type="number" min="1" name="delno" value="" autocomplete="off">
							Pass <input class="form" type="password" name="pwd" value="" autocomplete="current-password">
							<select class="form" name="mode">
								<option value="edit">編集</option>
								<option value="del">削除</option>
							</select>
							<input class="button" type="submit" value=" OK ">
						</p>
					</form>
				</section>
			</div>
		</main>
		<footer id="footer">
			<div class="copy">
				<!-- 著作権表示 -->
				<p>
					<a href="https://sakots.red/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://sakots.red/" target="_top" title="MONO {$tver} (by 赤原文庫)">MONO</a>
				</p>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>