<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./templates/{$skindir}mono_main.css" type="text/css">
		{foreach from=$oya item=bbsline}
		<meta name="twitter:card" content="summary">
		<meta property="og:title" content="[{$bbsline.tid}] {$bbsline.sub} by {$bbsline.name} - {$btitle}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{$base}{$self}?mode=res&amp;{$resno}">
		{if isset($bbsline.picfile)}<meta property="og:image" content="{$base}{$bbsline.picfile}">{/if}
		<meta property="og:site_name"  content="">
		<meta property="og:description" content="{$bbsline.com}">
		{/foreach}
		<script src="./templates/{$skindir}getresname.js"></script>
	</head>
	<body>
		<header id="header">
			<h1>{$btitle}</h1>
			<hr>
			<div>
				<section>
					<p class="top menu">
						<a href="{$self}">[トップ]</a>
						<a href="{$home}">[ホーム]</a>
						<a href="{$self}">[リロード]</a>
						<a href="#footer">[↓]</i></a>
					</p>
				</section>
				<section>
					<hr>
					<p>
						RES MODE
					</p> 
					<p class="sysmsg">{$message}</p>
				</section>
			</div>
			<hr>
		</header>
		<main>
			<div class="thread">
				{foreach from=$oya item=bbsline}{if isset($bbsline.com)}
				<section>
					<h3 class="oyat"><span class="oyano">[{$bbsline.tid}]</span> {$bbsline.sub}</h3>
					<section>
						<h4>
							名前：{if $bbsline.mail == true }<a href="mailto:{$bbsline.mail}">{/if}<span class="oyaname">{$bbsline.name}</span>{if $bbsline.mail == true }</a>{/if}：
							{if $bbsline.modified == $bbsline.created }{$bbsline.modified|date_format:"%y/%m/%d (%a) %H:%M"}{else}{$bbsline.created|date_format:"%y/%m/%d (%a) %H:%M"} {$updatemark} {$bbsline.modified|date_format:"%y/%m/%d (%a) %H:%M"}{/if}
							{if $bbsline.url == true} <span class="url"><a href="{$bbsline.url}" target="_blank" rel="nofollow noopener noreferrer">[URL]</a></span>{/if}
							{if $dispid == 1}<span class="id">ID：{$bbsline.id}</span>{/if}
							<span class="sodane"><a href="{$self}?mode=sodane&amp;resto={$bbsline.tid}">そうだね{if $bbsline.exid == 0} + {else}x{$bbsline.exid}{/if}</a></span>
						</h4>
						{if $bbsline.picfile == true}
						<figure>
							<figcaption><a href="{$path}{$bbsline.picfile}" target="_blank" data-title="{$bbsline.picfile}">{$bbsline.picfile}</a><br>
							{if $dptime == 1}{if $bbsline.time != null}描画時間：{$bbsline.time}｜{/if}{/if}
							{if $bbsline.pchfile != null}<a href="{$self}?mode=anime&amp;pch={$bbsline.pchfile}">●動画</a>{/if}
							{if $use_continue == 1} <a href="{$self}?mode=continue&amp;no={$bbsline.picfile}">●続きを描く</a>{/if}</figcaption>
							<a href="{$path}{$bbsline.picfile}" target="_blank"data-lightbox="b{$bbsline.picfile}" data-title="{$bbsline.picfile}"><img src="{$path}{$bbsline.picfile}" alt="{$bbsline.picfile}"></a>
						</figure>
						{/if}
						<p class="comment oya">{$bbsline.com}</p>
						{if isset($ko)}{foreach from=$ko item=res}{if $res.com == true}
						<section class="res">
							<section>
								<h3><span class="oyano">[{$res.iid}]</span> {$res.sub}</h3>
								<h4>
									名前：{if $res.mail == true }<a href="mailto:{$res.mail}">{/if}<span class="resname">{$res.name}</span>{if $res.mail == true }</a>{/if}：
									{if $res.modified == $res.created }{$res.modified|date_format:"%y/%m/%d (%a) %H:%M"}{else}{$res.created|date_format:"%y/%m/%d (%a) %H:%M"} {$updatemark} {$res.modified|date_format:"%y/%m/%d (%a) %H:%M"}{/if}
									{if $res.url == true}<span class="url"><a href="{$res.url}" target="_blank" rel="nofollow noopener noreferrer">[URL]</a></span>{/if}
									{if $dispid == 1}<span class="id">ID：{$res.id}</span>{/if}
									<span class="sodane"><a href="{$self}?mode=rsodane&amp;resto={$res.iid}">そうだね{if $res.exid == 0} + {else}x{$res.exid}{/if}</a></span>
								</h4>
								{if $res.picfile == true}
								<figure>
									<figcaption><a href="{$path}{$res.picfile}" target="_blank" title="{$res.picfile}">{$res.picfile}</a><br>
									{if $dptime == 1}{if $res.time != null}描画時間：{$res.time}｜{/if}{/if}
									{if $res.pchfile != null}｜<a href="{$self}?mode=anime&amp;pch={$res.pchfile}">●動画</a>{/if}
									</figcaption>
									<a href="{$path}{$res.picfile}" target="_blank"data-lightbox="b{$res.picfile}" data-title="{$res.picfile}"><img src="{$path}{$res.picfile}" alt="{$res.picfile}"></a>
								</figure>
								{/if}
								<p class="comment">{$res.com}</p>
							</section>
						</section>
						{/if}{/foreach}{else}{/if}
					</section>
				<hr>	
				</section>
				{if $share_button == 1}
				<div class="thfoot">
					<script>
						(function(){ //byさとぴあさん
							var url = encodeURIComponent('{$base}{$self}?mode=res&amp;{$resno}'); //ページURL
							var title = encodeURIComponent('[{$bbsline.tid}] {$bbsline.sub} by {$bbsline.name} - {$btitle}'); //ページタイトル
							document.write( '<span class="button"><a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=' + title + '&amp;url=' + url + '"><img src="./templates/{$skindir}icons/twitter.svg" width="16" height="16"> tweet</a></a></span> <span class="button"><a target="_blank" class="fb btn" href="http://www.facebook.com/share.php?u=' + url + '"><img src="./templates/{$skindir}icons/facebook.svg" width="16" height="16"> share</a></span>' );}
						)();
					</script>
				</div>
				{/if}{/if}
				<div>
					{foreach from=$oya item=bbsline}{if isset($bbsline.com)}
					<section>
						<h3 class="oekaki">このスレにレス</h1>
						<p>
							<button class="copy_button" onclick="c();">投稿者名をコピー</button>
							（レスの投稿者名をクリップボードにコピーできます）
						</p>
						<form action="{$self}?mode=regist" method="post" class="postform">
							<table>
								<tr>
									<td>name{if $use_name == 1} *{/if}</td>
									<td><input type="text" name="name" size="18" value="" autocomplete="username"></td>
								</tr>
								<tr>
									<td>mail</td>
									<td><input type="text" name="mail" size="18" value="" autocomplete="email"></td>
								</tr>
								<tr>
									<td>URL</td>
									<td><input type="text" name="url" size="18" value="" autocomplete="url"></td>
								</tr>
								<tr>
									<td>subject{if $use_sub == 1} *{/if}</td>
									<td>
										{if $use_resub == 1}
										<input type="text" name="sub" size="18" value="Re:{$bbsline.sub}" autocomplete="section-sub">
										{else}
										<input type="text" name="sub" size="18" value="" autocomplete="section-sub">
										{/if}
										<input type="submit" name="send" value="書き込む">
										<input type="hidden" name="picfile" value="">
										<input type="hidden" name="parent" value="{$resno}">
										<input type="hidden" name="invz" value="0">
										<input type="hidden" name="img_w" value="0">
										<input type="hidden" name="img_h" value="0">
										<input type="hidden" name="time" value="0">
										<input type="hidden" name="exid" value="0">
										<input type="hidden" name="modid" value="{$resno}">
									</td>
								</tr>
								<tr>
									<td>comment{if $use_com == 1} *{/if}</td>
									<td>
										<textarea name="com" rows="4" cols="48"></textarea>
									</td>
								</tr>
								<tr>
									<td>pass</td>
									<td>
										<input type="password" name="pwd" size="8" value="" autocomplete="current-password">
										(記事の編集削除用。英数字で)
									</td>
								</tr>
							</table>
						</form>
					</section>
					{/if}{/foreach}
				</div>
				<div class="thfoot">
					<a href="#header">[↑]</a>
				</div>
				{/foreach}
			</div>
			<script src="loadcookie.js"></script>
			<script>
				l(); //LoadCookie
			</script>
		</main>
		<footer id="footer">
			<div class="copy">
				<!-- 著作権表示 -->
				<p>
					<a href="https://sakots.red/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://sakots.red/" target="_top" title="MONO {$tver} (by 赤原文庫)">MONO</a>
				</p>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
				</p>
				<p>
					UseFunction -
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>
