<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{$btitle}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./templates/{$themedir}css/mono_main.css" type="text/css">
		{if $useneo == true}
		<link rel="stylesheet" href="neo.css?{$smarty.now}" type="text/css">
		<script src="neo.js?{$smarty.now}" charset="utf-8"></script>
		{else}
		<!-- Javaが使えるかどうか判定 使えなければcheerpJをロード -->
		<script>
			function cheerpJLoad() {
			var jEnabled = navigator.javaEnabled();
			if(!jEnabled){
				var sN = document.createElement("script");
				sN.src = "https://cjrtnc.leaningtech.com/latest/loader.js";
				var s0 = document.getElementsByTagName("script")[0];
				s0.parentNode.insertBefore(sN, s0);
				sN.addEventListener("load", function(){ cheerpjInit(); }, false);
				}
			}
			window.addEventListener("load", function() { cheerpJLoad(); }, false);
		</script>
		{/if}
		<script src="loadcookie.js"></script>
	</head>
	<body id="paintmode">
		<header>
			<h1>{$btitle}</h1>
			<hr>
			<section>
				<p class="top menu">
					<a href="{$self}">[トップ]</a>
					<a href="{$home}" target="_top">[ホーム]</a>
				</p>
			</section>
			<hr>
			<h2 class="oekaki">PCH MODE</h2>
			<hr>
		</header>

		<main>
			<section id="appstage">
				<div class="app">
					{if $useneo == true}
					<applet-dummy name="pch" code="pch.PCHViewer.class" archive="PCHViewer.jar,PaintBBS.jar" width="{$w}" height="{$h}" mayscript>
					{else}
					<applet name="pch" code="pch2.PCHViewer.class" archive="PCHViewer.jar,spainter_all.jar" codebase="./"  width="{$w}" height="{$h}">
						<param name="res.zip" value="res.zip"><!--(しぃペインターv1.05_9以前を使うなら res_normal.zip に変更)-->
						<param name="tt.zip" value="tt_def.zip">
						<param name="tt_size" value="31">
					{/if}
						<param name="image_width" value="{$picw}">
						<param name="image_height" value="{$pich}">
						<param name="pch_file" value="{$path}{$pchfile}">
						<param name="speed" value="{$speed}">
						<param name="buffer_progress" value="false">
						<param name="buffer_canvas" value="false">
					{if $useneo == true}
					</applet-dummy>
					{else}
					</applet>
					{/if}
				</div>
			</section>
			<section class="thread">
				<hr>
				<p>
					<a href="{$path}{$pchfile}" target="_blank">Download</a>
					{if isset($datasize)}- Datasize {$datasize} B{/if}
				</p>
				<hr>
			</section>
		</main>
		<footer id="footer">
			<div class="copy">
				<!-- 著作権表示 -->
				<p>
					<a href="https://dev.oekakibbs.net/" target="_top">noe-board {$ver}</a>
					Web Style by <a href="https://dev.oekakibbs.net/" target="_top" title="MONO {$tver} (by OekakiBBS reDev.Team)">MONO</a>
				</p>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>,
					<a href="https://github.com/funige/neo/">PaintBBS NEO</a>
				</p>
				<p>
					UseFunction -
					DynamicPalette <!-- http://wondercatstudio.com/ -->,
					<a href="https://www.smarty.net/">Smarty</a>
				</p>
			</div>
		</footer>
	</body>
</html>
