@charset "UTF-8";

//スタイル設定ファイル

//色指定とか
$ushiro: #CCC;			//一番うしろ
$haikei: #EEE;			//スレ背景
$moji: #000;			//文字
$link: #036;			//リンクの文字
$link_visited: #666;	//訪問済みリンク
$link_active: #F00;		//アクティブなリンク
$link_hover: #F00;		//マウスカーソルが上に載ってる時のリンク
$resmoji: #141;			//レスの文字
$button: #369;			//返信とかのボタン
$button_moji: #FFF;		//ボタンの文字色
$form_txt: #000;		//テキスト入力欄の文字色
$form_txt_bk: #FFF;	//テキスト入力欄の背景色

$th_bg: #9CF;           //スレタイトルの背景
$border: #036;          //ボーダーとスレタイトルの左
$b_border: #36F;        //ボタンのボーダー
$b_border_u: #036;       //ボタンのボーダーその2

$limit: #FCC;           //もうすぐ消える&省略の背景色

//NEO色指定
$bk: #69F;				//アプレット背景
$bk2: #369;				//アプレット背景の網状のあれ
$tool_icon: #396;		//「窓」とか
$icon: #063;			//
$iconselect: #063;		//選択してるアイコン
$text: #FFF;			//文字
$bar: #369;				//バー
$tool_button: #669;		//ツールボタン「鉛筆」とか
$tool_button2: #336;	//選択中ツールボタン
$tool_text: #FFF;		//ツールボタンの文字
$tool_bar: #69F;		//ツールバーの色
$tool_frame: #369;		//フレームの色

//--------
$cat_img_size: 150px;	//カタログモードのイメージサイズ