@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */
* {
  margin: 0px;
  padding: 0px;
}

label {
  cursor: pointer;
}

body {
  background-color: #CCC;
  color: #000;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a:link {
  color: #036;
}

a:visited {
  color: #666;
}

a:active {
  color: #F00;
}

a:hover {
  color: #F00;
}

a {
  color: #000;
}

hr {
  border-style: dashed;
  border-width: 1px;
  border-color: #036;
  margin: 1ex auto;
  clear: left;
}

header, .thread, footer, footer {
  background-color: #EEE;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

header {
  margin-top: 12px;
  margin-bottom: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #036;
}

h1 a {
  text-decoration: none;
}

h1 a:visited {
  color: #000;
}

h1 + div {
  text-align: right;
}

main {
  display: block;
}

.thread, footer {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #036;
  margin-top: 12px;
  margin-bottom: 12px;
}

.delf {
  text-align: right;
}

footer {
  text-align: right;
}

input, select, textarea {
  border-style: solid;
  border-color: #036 #36F #36F #036;
  border-width: 1px;
  padding: 2px;
  color: #000;
  background-color: #FFF;
}

select {
  padding: 2px;
  vertical-align: middle;
}

input[name="picw"], select[name="picw"], input[name="pich"], select[name="pich"], input[name="delno"], select[name="delno"] {
  width: 3em;
}

input[name="pwd"], select[name="pwd"] {
  width: 6em;
}

input[type="submit"], select[type="submit"], button, .button {
  background-color: #369;
  border-color: #36F #036 #036 #36F;
  color: #FFF;
  padding-left: 4px;
  padding-right: 4px;
}

input[name="upfile"], select[name="upfile"] {
  width: 10em;
}

input[type="number"], select[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, select[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button, select[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

em.thispage {
  font-style: normal;
  font-weight: bold;
}

figure {
  float: left;
  padding-right: 8px;
  background-color: #EEE;
  margin-bottom: 1ex;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-size: smaller;
}

ul {
  font-size: smaller;
  margin-left: 1.5em;
}

p.oya {
  margin-top: 1em;
}

.sodane a {
  font-weight: normal;
  text-decoration: none;
}

.oyaname {
  line-height: 1em;
  border: solid 1px #369;
  border-radius: 5px;
  display: inline-block;
}

.oyaname a {
  text-decoration: none;
  display: block;
  padding: 5px;
  color: inherit;
}

.oyaname:hover {
  background-color: #CCC;
}

h4#oya {
  margin-top: 1ex;
}

.res {
  border-top: dashed 1px #036;
  margin-top: 1em;
}

.res section {
  margin-top: 1em;
  display: inline-block;
  max-width: 100%;
}

.res h3 {
  font-size: 100%;
  margin-bottom: 0ex;
}

.res h4 {
  font-size: 100%;
  margin-bottom: 1ex;
}

.res figure {
  float: none;
}

.limit {
  margin-top: 1em;
  background-color: #FCC;
}

h5 {
  font-weight: normal;
}

.resma {
  display: block;
  color: #141;
  background-color: #CCC;
}

.thfoot {
  clear: left;
  text-align: right;
}

button, .button {
  border-style: solid;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #369;
  color: #FFF;
}

.button {
  border-width: 1px;
  border-style: solid;
  padding: 2px 6px;
  display: inline-block;
}

.button a {
  text-decoration: none;
  color: #FFF;
}

.oyat, .siihelp h2 {
  border-left: solid 1ex #036;
  background-color: #9CF;
  padding: 0.2em;
}

.oekaki {
  font-size: smaller;
}

#appstage {
  display: block;
  text-align: center;
}

#appstage > * {
  display: inline-block;
  vertical-align: middle;
}

.NEO .color_bk {
  color: #69F;
}

.NEO .color_bk2 {
  color: #369;
}

.NEO .color_tool_icon {
  color: #396;
}

.NEO .color_icon {
  color: #063;
}

.NEO .color_iconselect {
  color: #063;
}

.NEO .color_text {
  color: #FFF;
}

.NEO .color_bar {
  color: #369;
}

.NEO .tool_color_button {
  color: #669;
}

.NEO .tool_color_button2 {
  color: #336;
}

.NEO .tool_color_text {
  color: #FFF;
}

.NEO .tool_color_bar {
  color: #69F;
}

.NEO .tool_color_frame {
  color: #369;
}

.palette {
  width: 180px;
}

.palette fieldset {
  text-align: center;
}

.c {
  text-align: center;
}

.siihelp dt {
  font-weight: bold;
}

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#catalog div {
  width: 166px;
  text-align: center;
  overflow: hidden;
}

#catalog p {
  margin: 0.5ex auto;
}

#catalog img {
  width: 150px;
}

.delfo {
  font-size: smaller;
}

.delfo th, .delfo td {
  border: 1px solid #CCC;
}

.ppost {
  clear: left;
}

@media screen and (max-width: 1024px) {
  .res {
    clear: left;
  }
}

@media screen and (max-width: 768px) {
  header, .thread, footer, footer {
    width: 90%;
  }
  main {
    display: block;
  }
  #paintmode main {
    display: block;
  }
  #paintmode footer {
    text-align: right;
  }
}

@media screen and (max-width: 450px) {
  footer {
    text-align: right;
  }
  figure {
    float: none;
  }
  #appstage {
    display: block;
  }
}
/*# sourceMappingURL=mono_main.css.map */